<main class="app-directory-wrapper">
    <!-- search / filter area -->
    <div class="row">
        <div class="app-directory-search">
            <div class="col-xs-12 col-md-7">
                <h3>{{(i18n$ | async)?.SearchLabel}}</h3>
                <span (click)="changeDepartment()">X</span>
                <input type="text" id="app-directory-search" placeholder="{{(i18n$ | async)?.SearchPlaceholder}}" [formControl]="term">
            </div>
        </div>
        <div class="app-directory-dropdown">
            <div class="col-xs-12 col-md-5">
                <h3>{{(i18n$|async)?.IndustryLabel}}</h3>
                <select id="app-directory-dropdown" [(ngModel)]="department" (ngModelChange)="changeDepartment()">
                    <option value='all' selected>{{(i18n$ | async)?.IndustryAll}}</option>
                    <option *ngFor="let d of industries$ | async" [value]="d.Title">{{d.Title}}</option>
                </select>
            </div>
        </div>
    </div>

    <!-- A-Z bar -->
    <div class="app-directory-letterlist">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li>
                        <a [routerLink]="['/']">{{(i18n$ | async)?.AZBarAll}}</a>
                    </li>
                    <li class="sc-element" *ngFor="let az of azList | async">
                        <a *ngIf="az.Active" [routerLink]="['/list', department, az.Letter]">{{az.Letter}}</a>
                        <a *ngIf="!az.Active" href="#" class="disabled">{{az.Letter}}</a>
                        <sxc-toolbar [toolbar]="{ action: 'new', contentType: 'DirectoryItem', prefill: { Title: az.Letter }}"></sxc-toolbar>
                    </li>
                </ul>
            </div>
        </div>
    </div>
test
    <!-- results -->
    <div class="app-directory-section">
        <div *ngFor="let group of groups$ | async" class="app-directory-group sc-element">
            <sxc-toolbar [toolbar]="{ action: 'new', contentType: 'DirectoryItem', prefill: { Title: group.label }}"></sxc-toolbar>
            <h3 class="sc-element">
                {{group.label}}
            </h3>
            <div class="row">
                <div *ngFor="let entry of group.entries" class="col col-xs-6 col-md-3" data-aos="fade-up">
                    <div class="app-directory-entry sc-element">
                        <sxc-toolbar [toolbar]="{action: 'edit,delete', entityId: entry.Id, entityGuid: entry.Guid, entityTitle: entry.Title }"></sxc-toolbar>
                        <img src="{{entry.Logo}} + ?w=400&h=400" [alt]="entry.Title">
                        <div class="app-directory-entry-info-wrapper">
                            <a [href]="entry.Link" target="_blank">
                                <span class="app-directory-entry-infos">
                                    <strong>{{entry.Title}}</strong>
                                    <span>
                                        <span *ngFor="let i of entry.Industry">{{i.Title}} </span>
                                    </span>
                                    <span>{{entry.LinkText}}</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
