<main class="app-directory-wrapper">
    <div class="row">
        <div class="app-directory-search">
            <div class="col-xs-12 col-md-7">
                <h3>{{(i18n$|async)?.SearchLabel}}</h3>
                <span (click)="changeDepartment()">X</span>
                <input type="text" id="app-directory-search" placeholder="{{(i18n$|async)?.SearchPlaceholder}}" [formControl]="term">
                <!-- <input [(ngModel)]="needle" (ngModelChange)="search()" type="text" id="app-directory-search" placeholder="{{(i18n$|async)?.SearchPlaceholder}}" [FormControl]="term"> -->
            </div>
        </div>
        <div class="app-directory-dropdown">
            <div class="col-xs-12 col-md-5">
                <h3>{{(i18n$|async)?.IndustryLabel}}</h3>
                <select id="app-directory-dropdown" [(ngModel)]="department" (ngModelChange)="changeDepartment()">
                    <option value='all' selected>{{(i18n$|async)?.IndustryAll}}</option>
                    <option *ngFor="let d of industries$|async" [value]="d.Title">{{d.Title}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="app-directory-letterlist">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li>
                        <a [routerLink]="['/']">{{(i18n$|async)?.AZBarAll}}</a>
                    </li>
                    <li *ngFor="let letter of alphabet">
                        <a [routerLink]="['/list', department, letter]">{{letter}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="app-directory-section">
        <div *ngFor="let group of groups$ | async" class="app-directory-group">
            <h3>{{group.label}}</h3>
            <div class="row">
                <div *ngFor="let entry of group.entries" class="col col-xs-6 col-md-3" data-aos="fade-up">
                    <div class="app-directory-entry">
                        <img [src]="entry.Logo" [alt]="entry.Title">
                        <div class="app-directory-entry-info-wrapper">
                            <a [href]="entry.Link" target="_blank">
                                <span class="app-directory-entry-infos">
                                    <strong>{{entry.Title}}</strong>
                                    <span>{{entry.Industry[0].Title}}</span>
                                    <span>{{entry.LinkText}}</span>
                                </span>
                            </a>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</main>