@import '../../styles';

// mixins
@mixin background-opacity($app-dir-color-main, $app-dir-opacity){
    background: $app-dir-color-main; // fallback
    background: rgba($app-dir-color-main, $app-dir-opacity)
}

@mixin color-opacity($app-dir-color-main, $app-dir-opacity){
    color: $app-dir-color-main;
    color: rgba($app-dir-color-main, $app-dir-opacity)
}

:host {
    body{
        font-size: $app-dir-font-size;
    }

    ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0;
        margin: 16px 0;
        text-transform: uppercase;
        li {
            display: inline-block;
            vertical-align: top;
            list-style: none;
            a {
                line-height: $app-dir-line-height;
                height: $app-dir-line-height; // fallback for ie
                font-size: $font-size-h3;
                font-weight: normal;
                font-family: Gibson-Bold;
                color: $app-dir-color-main;
                &:hover {
                    @include color-opacity($app-dir-color-main, $app-dir-opacity);
                    text-decoration: none;
                }
                &:focus, &:active{
                    color: $app-dir-color-dark;
                    text-decoration: none;
                }
                &.disabled{
                    opacity: 0.2;
                }
            }
        }
    }

    h3{
        font-size: $font-size-h3;
        font-weight: normal;
    }

    // extensions
     %__dropdown{
        text-indent: 8px;
        line-height: $app-dir-line-height;
        height: 50px;
        width: 100%;
        &:focus{
            outline: none;
        }
        @media all and (max-width: $screen-xs-max){
            font-size: 16px;
        }
     }

     %__select{
        border: none;
        color: $app-dir-color-light;
        background-color: $app-dir-color-main;
        cursor: pointer;
        &:hover, &:focus, &:active{
            @include background-opacity($app-dir-color-main, $app-dir-opacity);
        }
        @media all and (max-width: $screen-sm-max){
            color: $app-dir-color-dark;
            background-color: $app-dir-color-nuance;
            &:hover, &:focus, &:active{
                background-color: $app-dir-color-nuance;
            }
        }  
     }   

     // wrapper

    .app-directory-wrapper{ // remove for standardising
        margin-top: -5px;
    }

    .app-directory-letterlist{ // remove for standardising
        margin-top: 18px;
        margin-bottom: 46px;
         @media all and (max-width: $screen-xs-min){
             margin-top: 0;
             margin-bottom: 20px;
         }
    }

    // search
    .app-directory-search{
        position: relative;
        input{
            padding: 0 8px;
            @extend %__dropdown;
            border: none;
            box-shadow: none;
            border-radius: 4px;
            background-color: $app-dir-color-nuance;
        }
        span{
            position: absolute;
            right: 2%;
            height: 50px;
            line-height: 50px;
            cursor: pointer;
            padding: 0 16px;
            &:hover{
                color: $app-dir-color-main;
            }
        }
    }

    // dropdown
    .app-directory-dropdown{
        select{
            @extend %__dropdown;
            @extend %__select;
            border-radius: 4px;
            option{
                @extend %__dropdown;
                @extend %__select;
            }
        }
         @media all and (-webkit-min-device-pixel-ratio: 0){
            ::i-block-chrome, select{
                background-color: $app-dir-color-nuance;
            }
        } 
    }

    // group entries
    .app-directory-group {
        h3{
            margin-bottom: 12px;
            margin-top: 15px;
        }
    }

    .app-directory-entry{
        padding: 0;
        position: relative;
        display: inline-block;
        text-align: center;
        line-height: $app-dir-image-line-height;
        height: $app-dir-image-line-height;
        border: 1px solid $app-dir-color-nuance;
        margin-bottom: 20px;
        width: 100%;
        img{
            vertical-align: middle;
            max-width: 80%;
        }
    }

    .app-directory-entry:hover .app-directory-entry-info-wrapper{
        display: inline-block;     
    }

    .app-directory-entry-info-wrapper{
        position: absolute;
        line-height: $app-dir-line-height;
        height: $app-dir-image-line-height;
        width: 100%;
        top: 0;
        left: 0;
        display: none;
        color: $app-dir-color-light;
        background-color: $app-dir-color-main;
        a{  
            display: inline-block;
            height: $app-dir-image-line-height;
            width: 100%;
            margin-top: 20%;
            text-decoration: none;
            color: $app-dir-color-light;
        }
    }

   .app-directory-entry-infos{
        strong{
            display: block;
            font-size: $font-size-h3;
            color: $color-light;
            font-weight: normal;
            font-family: Gibson-Bold;
        }
        span{
            display: block;
            color: $color-light;
        }
    }

    @media all and (max-width: $screen-xs-min){
        .app-directory-entry-infos{
            strong{
                font-size: $font-size-h3*0.666;
            }
        }
        ul li a{
            font-size: $font-size-h3*0.666;
        }
        h3 {
            font-size: $font-size-h3*0.666;
        }
    }

    @media all and (max-width: $screen-md-max){
        ul{
            white-space: nowrap;
            overflow-x: auto;
            li{
                a{
                    padding: 0 16px;
                }
            }
            li:first-child {
                a {
                    padding-left: 0;
                }
            }   
        }
        .app-directory-entry{
            img{
                max-width: 66%;
            }
        }
    } 


    @media all and (min-width: 1101px) and (max-width: 1450px) {
        .app-directory-entry{
            line-height: 160px;
            height: 160px;
        }   
        .app-directory-entry-info-wrapper{
            line-height: 32px;
            height: 160px;
            a{
                margin-top: 10%;
                font-size: 14px;
            }
        }
    }
    @media all and (min-width: $screen-md-min) and (max-width: 1100px){
        .app-directory-entry{
            line-height: 145px;
            height: 145px;
        }
        .app-directory-entry-info-wrapper{
            line-height: 32px;
            height: 145px;
            a{
                margin-top: 10%;
                font-size: 14px;
            }
        }
    }
    @media all and (min-width: 481px) and (max-width: $screen-xs-max){
        .app-directory-entry{
            line-height: 160px;
            height: 160px;
        }
        .app-directory-entry-info-wrapper{
            line-height: 32px;
            height: 160px;
            a{
                margin-top: 10%;
                font-size: 14px;
            }
        }   
    }
    @media all and (max-width: 480px){
        .app-directory-entry{
            line-height: 100px;
            height: 100px;
        }
        .app-directory-entry-info-wrapper{
            line-height: 20px;
            height: 100px;
            a{
                margin-top: 7%;
                font-size: 11px;
            }
        }
    }
    @media all and (max-width: 360px){
        .app-directory-entry{
            line-height: 60px;
            height: 60px;
        }
        .app-directory-entry-info-wrapper{
            line-height: 20px;
            height: 60px;
            a{
                margin-top: 3%;
                font-size: 10px;
            }
        }
    }
}