@import '../../styles';

// mixins
@mixin background-opacity($app-dir-color-main, $app-dir-opacity){
    background: $app-dir-color-main; // fallback
    background: rgba($app-dir-color-main, $app-dir-opacity)
}

@mixin color-opacity($app-dir-color-main, $app-dir-opacity){
    color: $app-dir-color-main;
    color: rgba($app-dir-color-main, $app-dir-opacity)
}

:host {
    body{
        font-size: $app-dir-font-size;
    }

    ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0;
        margin: 16px 0;
        text-transform: uppercase;
        li {
            display: inline-block;
            vertical-align: top;
            list-style: none;
            a {
                line-height: $app-dir-line-height;
                height: $app-dir-line-height; // fallback for ie
                font-size: $font-size-h3;
                font-weight: bold;
                color: $app-dir-color-main;
                &:hover, &:focus, &:active{
                    @include color-opacity($app-dir-color-main, $app-dir-opacity);
                    text-decoration: none;
                }
            }
        }
    }

    h3{
        font-size: $font-size-h3;
        font-weight: bold;
    }

    // extensions
     %__dropdown{
        line-height: $app-dir-line-height;
        height: $app-dir-line-height +6px;
        width: 100%;
        &:focus{
            outline: none;
        }
     }

     %__select{
        border: none;
        color: $app-dir-color-light;
        background-color: $app-dir-color-main;
        cursor: pointer;
        &:hover, &:focus, &active{
            @include background-opacity($app-dir-color-main, $app-dir-opacity);
        }
     }   

    // search
    .app-directory-search{
        position: relative;
        input{
           @extend %__dropdown;
           padding: 0 8px;
           border: none;
           box-shadow: none;
           border-radius: 4px;
           background-color: $app-dir-color-nuance;
        }
        span{
            position: absolute;
            right: 2%;
            height: $app-dir-line-height +6px;
            line-height: $app-dir-line-height +6px;
            cursor: pointer;
            padding: 0 16px;
            &:hover{
                color: $app-dir-color-main;
            }
        }
    }

    // dropdown
    .app-directory-dropdown{
        select{
            @extend %__dropdown;
            @extend %__select;
            border-radius: 4px;
            option{
                @extend %__dropdown;
                @extend %__select;
            }
        } 
    }

    // group entries
    .app-directory-entry-wrapper{
        margin-left: 0;
        margin-right: 0;
    }

    .app-directory-entry{
        padding: 0;
        position: relative;
        display: inline-block;
        text-align: center;
        line-height: $app-dir-image-line-height;
        height: $app-dir-image-line-height;
        border: 1px dotted $app-dir-color-nuance;
        img{
            vertical-align: middle;
        }
    }

    .app-directory-entry:hover .app-directory-entry-info-wrapper{
        display: inline-block;     
    }

    .app-directory-entry-info-wrapper{
        position: absolute;
        line-height: $app-dir-line-height;
        height: $app-dir-image-line-height;
        width: 100%;
        top: 0;
        left: 0;
        display: none;
        color: $app-dir-color-light;
        background-color: $app-dir-color-main;
        a{  
            display: inline-block;
            height: $app-dir-image-line-height;
            width: 100%;
            margin-top: 20%;
            text-decoration: none;
            color: $app-dir-color-light;
        }
    }

    .app-directory-entry-infos{
        strong{
            display: block;
            font-size: $font-size-h3;
        }
        span{
            display: block;
        }
    }

    @media all and (min-width: $screen-md-min){
        .app-directory-entry{
            line-height: $app-dir-image-line-height;
            height: $app-dir-image-line-height;
            width: 24%;
        }
        .app-directory-entry:nth-child(4n+1){
            margin-right: 0.66%;
        }
        .app-directory-entry:nth-child(4n+2), .app-directory-entry:nth-child(4n+3){
            margin: 0 0.66%;
        }
        .app-directory-entry:nth-child(4n+4){
            margin-left: 0.66%;
        }
    } 

    @media all and (max-width: $screen-sm-max){
        ul{
            white-space: nowrap;
            overflow-x: auto;
            li{
                a{
                    padding: 0 16px;
                }
            }
        }
    } 

    @media all and (max-width: 500px){
        .app-directory-entry{
            width: 100%;
        }
    }
}